@font-face {
  font-family: 'KlinicSlab';
  src: url('../fonts/klinicslabboldit-webfont.eot');
  src: url('../fonts/klinicslabboldit-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/klinicslabboldit-webfont.woff') format('woff'), url('../fonts/klinicslabboldit-webfont.ttf') format('truetype'), url('../fonts/klinicslabboldit-webfont.svg#klinic_slabbold_italic') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'KlinicSlab';
  src: url('../fonts/klinicslabmediumit-webfont.eot');
  src: url('../fonts/klinicslabmediumit-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/klinicslabmediumit-webfont.woff') format('woff'), url('../fonts/klinicslabmediumit-webfont.ttf') format('truetype'), url('../fonts/klinicslabmediumit-webfont.svg#klinic_slabmedium_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/sourcesanspro-regular-webfont.eot');
  src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'), url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'), url('../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/sourcesanspro-bold-webfont.eot');
  src: url('../fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sourcesanspro-bold-webfont.woff') format('woff'), url('../fonts/sourcesanspro-bold-webfont.ttf') format('truetype'), url('../fonts/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
  font-weight: bold;
  font-style: normal;
}
.right {
  float: right;
}
.left {
  float: left;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
html {
  overflow-y: scroll;
  overflow-x: hidden;
}
body {
  font-size: 18px;
  padding-bottom: 40px;
}
.bg-grid {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -9999;
  opacity: 1;
  background: url(data:image/gif;base64,R0lGODlhLQAtAMIDAO3z+fH2+/r8/f///////////////////yH5BAEKAAQALAAAAAAtAC0AAAOsCLHcrS4uKB0QOGt9t8fdtwFDaZ4nia6lyqLua8byQMv3m7P72sO1VHA2bBVtx5+wqCQyk9CndNg0ToNV5LWW7UapX2yYm6xEKOZJ+iHyhNogOGeMo+vsPLxPD9zW/XeAeYJ7hH1ghkuIi2KJToxkjlaQf5SBloNUawxoaZ1mb3ChbaMiXpJamIWqh42siq6xka+PspW2l7iZuqu8rbO+sMDDt8S5xrvIvcooCQA7) repeat fixed;
}
.page-beautiful-rising {
  height: 100% !important;
  width: 100% !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-attachment: fixed !important;
  background-color: black !important;
}
.page-beautiful-rising .bg-grid {
  background: url(data:image/gif;base64,R0lGODlhLQAtAPEAAAAAACEgGzU0LAAAACH5BAAAAAAALAAAAAAtAC0AAAKfVI6Zpn3sFIxo0mCpALx7v30iF45faXZoCqypa8KjLNInC+KqTvKtb8vxgrsh8GhM6og9JY75c7KgVOTS+sROgZdFt/J9hDHjTKQqfWnV6dja3Z695fHa3F6/5YXXfbEPmOXXFLg1GFXIlgi3OFP2GGbmINlAKXGn14inmSnIyecZavj5J6poyohKR0qouunaOQoLKlt7apuKuzpbylIAADs=) repeat fixed;
  opacity: .5;
}
@media only screen and (max-width: 767px) {
  .page-beautiful-rising {
    padding-top: 40px;
  }
}
@media only screen and (min-width: 768px) {
  html,
  body.page-beautiful-rising > div.container {
    height: 100%;
  }
  body.page-beautiful-rising > div.container {
    display: table;
  }
  .masthead {
    display: table-cell;
    vertical-align: middle;
  }
}
.btn {
  color: #ffffff;
  background-color: transparent;
  padding: 8px 18px;
  margin: 8px;
  border: 2px solid #ffffff;
  border-radius: 0;
  height: 40px;
  text-transform: uppercase;
  text-shadow: none;
  font-weight: bold;
  font-size: 16px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.btn:focus {
  color: #ffffff;
}
.btn:hover,
.btn.active {
  background-color: #ffffff;
  color: #000000;
  box-shadow: none;
}
h2 {
  font-size: 28px;
  line-height: 38px;
}
hr {
  border: solid #78765b;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
  margin-bottom: 0;
}
.site-nav #menu-overlay {
  position: fixed;
  top: 0;
  bottom: -500px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  padding-top: 5%;
  z-index: 9999;
  text-align: center;
}
.site-nav #menu-overlay p {
  font-style: italic;
  color: white;
  margin-bottom: 0;
}
.site-nav #menu-content {
  padding-top: 40px;
}
@media only screen and (max-width: 767px) {
  header nav {
    padding-top: 5%;
    padding-bottom: 15%;
  }
  header nav > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
  header nav #menu-button img {
    opacity: .7;
  }
}
@media only screen and (min-width: 768px) {
  header nav {
    height: 132px;
    padding-right: 9999px;
    margin-right: -9999px;
    background-repeat: no-repeat;
    background-image: url('/img/header-bg.png');
    background-position: 48px;
  }
  header nav > div {
    margin-top: 28px;
    margin-bottom: 56px;
  }
  header nav .pull-right {
    margin-right: -12px;
  }
}
@media only screen and (min-width: 992px) {
  header nav {
    background-position: 64px;
  }
}
@media only screen and (min-width: 1200px) {
  header nav {
    background-position: 80px;
  }
}
form#mc-embedded-subscribe-form {
  display: inline-block;
}
form#mc-embedded-subscribe-form ::-webkit-input-placeholder {
  color: white;
  font-style: italic;
  font-size: 14px;
  line-height: 27px;
}
form#mc-embedded-subscribe-form ::-moz-placeholder {
  color: white;
  font-style: italic;
  font-size: 14px;
}
form#mc-embedded-subscribe-form :-moz-placeholder {
  color: white;
  font-style: italic;
  font-size: 14px;
}
form#mc-embedded-subscribe-form :-ms-input-placeholder {
  color: white;
  font-style: italic;
  font-size: 14px;
  line-height: 27px;
}
form#mc-embedded-subscribe-form input {
  position: relative;
  height: 40px;
}
form#mc-embedded-subscribe-form input:focus,
form#mc-embedded-subscribe-form input:active {
  outline: none;
}
form#mc-embedded-subscribe-form input[type=email] {
  color: white;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid white;
  background-color: transparent;
  top: 1px;
}
@media only screen and (max-width: 767px) {
  form#mc-embedded-subscribe-form input[type=email] {
    width: 70%;
  }
}
@media only screen and (min-width: 1200px) {
  form#mc-embedded-subscribe-form input[type=email] {
    width: 330px;
  }
}
form#mc-embedded-subscribe-form input[type=submit] {
  background: url(data:image/gif;base64,R0lGODlhHAAmAIAAAP///////yH5BAEKAAEALAAAAAAcACYAAAIuhI+py+0Po5y02ouz3rz7HnxBCI6luY1qqpJZ62Itt9Kxdn/6zvf+DwwKh0RIAQA7);
  border: none;
  width: 30px;
  left: -10px;
  vertical-align: middle;
}
html.lt-ie9 form#mc-embedded-subscribe-form input[type=email] {
  top: -2px;
}
.masthead {
  color: white;
}
.masthead h1 {
  margin-bottom: 34px;
  margin-top: 16px;
  font-size: 36px;
  font-face: "SourceSansPro";
}
@media only screen and (max-width: 767px) {
  .masthead h1 {
    margin-bottom: 34px;
    margin-top: 12px;
    font-size: 31px;
  }
}
.masthead p {
  font-size: 18px;
  line-height: 28px;
}
@media only screen and (max-width: 767px) {
  .masthead p {
    font-size: 16px;
  }
}
.masthead .masthead-form {
  margin-top: 40px;
}
@media only screen and (max-width: 767px) {
  .masthead .masthead-form {
    margin-top: 22px;
  }
}
.page-about .sidebar img {
  margin-top: 10px;
}
.social-icon {
  display: inline-block;
  position: relative;
  color: white;
  background: #78765b;
  width: 36px;
  height: 36px;
  overflow: hidden;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.social-icon i {
  position: absolute;
}
.social-icon i.fa-facebook {
  font-size: 31px;
  left: 11px;
  top: 8px;
}
.social-icon i.fa-twitter {
  font-size: 26px;
  left: 6px;
  top: 5px;
}
.social-icon i.fa-google-plus {
  font-size: 46px;
  left: -4px;
  top: -4px;
}
