// FONTS
@font-face { font-family: 'KlinicSlab'; src: url('../fonts/klinicslabboldit-webfont.eot');
    src: url('../fonts/klinicslabboldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klinicslabboldit-webfont.woff') format('woff'),
         url('../fonts/klinicslabboldit-webfont.ttf') format('truetype'),
         url('../fonts/klinicslabboldit-webfont.svg#klinic_slabbold_italic') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'KlinicSlab';
    src: url('../fonts/klinicslabmediumit-webfont.eot');
    src: url('../fonts/klinicslabmediumit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klinicslabmediumit-webfont.woff') format('woff'),
         url('../fonts/klinicslabmediumit-webfont.ttf') format('truetype'),
         url('../fonts/klinicslabmediumit-webfont.svg#klinic_slabmedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/sourcesanspro-regular-webfont.eot');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/sourcesanspro-bold-webfont.eot');
    src: url('../fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-bold-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: bold;
    font-style: normal;
}

// MIXINS
.cover() {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.vertical-align() {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.rotate(@angle) {
    -webkit-transform: rotate(@angle);
    -moz-transform: rotate(@angle);
    -ms-transform: rotate(@angle);
    -o-transform: rotate(@angle);
}

// MEDIA QUERIES
// Notice that @xs means "xs only" while @sm, @md & @lg mean "this size and larger"
@xs: ~"only screen and (max-width: 767px)";
@sm: ~"only screen and (min-width: 768px)";
@md: ~"only screen and (min-width: 992px)";
@lg: ~"only screen and (min-width: 1200px)";

// MISC
@brand-primary: #59c8f3; // Also in variables.less
@text-color: #78765b; // Also in variables.less
@tt: .5s; // Transition time
.right { float: right; }
.left { float: left; }
.block { display: block; }
.inline { display: inline; }
.inline-block { display: inline-block; }

// STYLES
html {
    overflow-y: scroll;
    overflow-x: hidden;
}
body {
    font-size: 18px;
    padding-bottom: 40px;
}
.bg-grid {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    height: 100%;
    width: 100%;
    z-index: -9999;
    opacity: 1;
    background: url(data:image/gif;base64,R0lGODlhLQAtAMIDAO3z+fH2+/r8/f///////////////////yH5BAEKAAQALAAAAAAtAC0AAAOsCLHcrS4uKB0QOGt9t8fdtwFDaZ4nia6lyqLua8byQMv3m7P72sO1VHA2bBVtx5+wqCQyk9CndNg0ToNV5LWW7UapX2yYm6xEKOZJ+iHyhNogOGeMo+vsPLxPD9zW/XeAeYJ7hH1ghkuIi2KJToxkjlaQf5SBloNUawxoaZ1mb3ChbaMiXpJamIWqh42siq6xka+PspW2l7iZuqu8rbO+sMDDt8S5xrvIvcooCQA7) repeat fixed; 
}
.page-beautiful-rising {
    .bg-grid {
        background: url(data:image/gif;base64,R0lGODlhLQAtAPEAAAAAACEgGzU0LAAAACH5BAAAAAAALAAAAAAtAC0AAAKfVI6Zpn3sFIxo0mCpALx7v30iF45faXZoCqypa8KjLNInC+KqTvKtb8vxgrsh8GhM6og9JY75c7KgVOTS+sROgZdFt/J9hDHjTKQqfWnV6dja3Z695fHa3F6/5YXXfbEPmOXXFLg1GFXIlgi3OFP2GGbmINlAKXGn14inmSnIyecZavj5J6poyohKR0qouunaOQoLKlt7apuKuzpbylIAADs=) repeat fixed;
        opacity: .5;
    }
    height: 100% !important;
    width: 100% !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;

    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-attachment: fixed !important;
    background-color: black !important;
    @media @xs {
        padding-top: 40px;
    }
}
@media @sm {
    html, body.page-beautiful-rising > div.container {
        height: 100%;
    }
    body.page-beautiful-rising > div.container {
        display: table;
    }
    .masthead {
        display: table-cell;
        vertical-align: middle;
    }
}

@btn-height: 40px;
@btn-color: white;
@btn-color-inverse: black;
.btn {
    color: @btn-color;        
    background-color: transparent;
    padding: 8px 18px;
    margin: 8px;
    border: 2px solid @btn-color;
    border-radius: 0;
    height: @btn-height;
    text-transform: uppercase;
    text-shadow: none;
    font-weight: bold;
    font-size: 16px;

    -webkit-transition: all @tt ease;
    transition: all @tt ease;

    &:focus { color: @btn-color; }
    &:hover, &.active {
        background-color: @btn-color;
        color: @btn-color-inverse;
        box-shadow: none;
    }
    &.active {
        border: 1px solid @btn-color;
    }
}

h1 {
    @media @xs {
        font-size: 30px;
    }
    a {
        color: @text-color;
    }
}
h2 {
    font-size: 28px;
    line-height: 38px;
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}
hr {
    border: solid @text-color;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
    margin-bottom: 0;
}

// NAV
// Mailchimp form
form#mc-embedded-subscribe-form {
    .__placeholder() {
        color: white; 
        font-style: italic;
        font-size: 13px;
        @media @xs {
            color: transparent;
        }
    }
    ::-webkit-input-placeholder { 
        .__placeholder;
        line-height: @btn-height - 13;
    }
    ::-moz-placeholder { 
        .__placeholder; 
    }
    :-moz-placeholder { 
        .__placeholder;
    }
    :-ms-input-placeholder { 
        .__placeholder;
        line-height: @btn-height - 13;
    }

    display: inline-block;
    input {
        &:focus, &:active {
            outline: none;
        }
        position: relative;
        height: @btn-height;
        -webkit-appearance: none; // Does this fix iPhone button rounding?
        -webkit-border-radius: 0;
    }
    input[type=email] {
        color: white;
        margin: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border: 2px solid white;
        background-color: transparent;
        top: 1px;   // XXX: some browsers draw this thing ±1px high/low
        @media @xs {
            width: 70%;
        }
        @media @sm {
            display: inline-block;
            width: 215px;
        }
        @media @lg {
        }
    }
    input[type=submit] {
        background: url(data:image/gif;base64,R0lGODlhHAAmAIAAAP///////yH5BAEKAAEALAAAAAAcACYAAAIuhI+py+0Po5y02ouz3rz7HnxBCI6luY1qqpJZ62Itt9Kxdn/6zvf+DwwKh0RIAQA7); // Arrow
        background-repeat: none;
        border: none;
        width: 30px;
        left: -10px;
        vertical-align: middle;
    }
}
html.lt-ie9 form#mc-embedded-subscribe-form input[type=email] {
    top: -2px;
}

// Homepage & mobile overlay nav
@receive-updates-width: 190px;
.receive-updates { width: @receive-updates-width; }
.site-nav {
    // The menu itself
    #menu-overlay {
        position: fixed;
        top: 0; bottom: -500px; left: 0; right: 0;
        background: rgba(0,0,0,.8);
        padding-top: 5%;
        z-index: 9999;
        text-align: center;
        p {
            font-style: italic;
            color: white;
            margin-bottom: 0;
        }
    }
    // The menu content
    #menu-content {
        padding-top: 40px; // TODO: replace with real vertical center
        // Updates toggle button
        #menu-update {
            margin-bottom: 0;
        }
        // Updates content
        #menu-update-content {
            p {
                padding-left: 15%;
                padding-right: 15%;
            }
            .triangle {
                .receive-updates;
                display: inline-block;
                height: 0;
                border-style: solid;
                border-width: 16px @receive-updates-width / 2 0 @receive-updates-width / 2;
                border-color: white transparent transparent transparent;
                position: relative;
                top: -2px; // without this, bizarre spacing appears
            }
        }
    }
}

// Header nav
header nav {
    // Narrow / mobile
    @media @xs {
        padding-top: 5%;
        padding-bottom: 15%;
        > img {
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            height: auto;
        }
        #menu-button img {
            opacity: .7;
        }
    }
    // Wide header nav
    // Lots of kludges to make things fit; better ideas welcome!
    @media @sm { 
        > div {
            margin-top: 28px;
            margin-bottom: 56px;
        }
        .pull-right {
            margin-right: -10px; // Nudge form rightward
        }
        height: 132px;
        padding-right: 215px;
        margin-right: -215px;
        background-repeat: no-repeat;
        background-image: url('/img/header-bg.png');
        background-position: 48px; 
        .btn.active { display: none; }
        img.logo {
            position: relative;
            left: 20px; top: 10px;
        }
        &:after {   // Extend header rightward 5000px
            position: absolute;
            background-color: black;
            height: 110px;
            width: 5000px;
            margin-left: 100px;
            content: "";
        }
    }
    @media @md { 
        background-position: 64px; 
        img.logo { position: static; }
    }
    @media @lg { 
        .btn.active { display: inline; }
        background-position: 80px; 
    }
}

// SPECIFIC PAGE TWEAKS
.masthead {
    color: white;
    h1 { 
        margin-bottom: 34px; 
        margin-top: 16px;
        font-size: 36px;
        font-face: "SourceSansPro";
        @media @xs {
            font-size: 15px;
            margin-top: 9px;
            margin-bottom: 20px;
        }
    }
    p {
        font-size: 18px;
        line-height: 28px;
        @media @xs {
            font-size: 11.4px;
            line-height: 22px;
        }
    }
    .masthead-form {
        margin-top: 40px;
        @media @xs {
            margin-top: 22px;
        }
    }
    #photo-credit {
        padding: 10px;
        margin-bottom: 0;
        line-height: 1;
        font-size: 14px;
        text-align: right;
        position: absolute;
        bottom: 0; right: 0;
        @media @xs {
            text-align: center;
            position: static;
            padding-top: 40px;
            padding-left: 20%;
            padding-right: 20%;
            br { display: none; }
        }
        @media @sm { br { display: inline; } }
        @media @md { br { display: none; } }
    }
}

@media @sm {
    .sidebar { position: relative; top: 10px; }
    .page-about .sidebar { top: 6.5px; }
}
.page-about .sidebar img{
    margin-top: 10px;
}

// BLOAT
img.social-icon {
    margin-right: 10px;
    margin-bottom: 10px;
}

// I don't think this is actually used anywhere
/*
.social-icon {
    display: inline-block;
    position: relative;
    color: white;
    background: @text-color;
    width: 36px;
    height: 36px;
    overflow: hidden;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    i {
        position: absolute;
        &.fa-facebook { font-size: 31px; left: 11px; top: 8px; }
        &.fa-twitter { font-size: 26px; left: 6px; top: 5px; }
        &.fa-google-plus { font-size: 46px; left: -4px; top: -4px; }
    }
}
*/

.semi-trans {
    -webkit-transition: opacity @tt ease;
    transition: opacity @tt ease;
    opacity: .7;
    &:hover { opacity: 1; }
}
