---
layout: base
title: News
permalink: /news/
---
{% include header.html %}
<div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-8">
        <div class="content">
            {% for post in site.posts %}
            <div class="post" id="{{ post.title | handleize }}">
                <h1>{{ post.title }}</h1></a>
                <div class="row">
                    <div class="col-xs-12 col-sm-9">
                        {{ post.content }}
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        Fakebook shares, etc.
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 hidden-xs">
        <div class="sidebar">
            <h3><strong>Recent posts:</strong></h3>
            {% for post in site.posts %}
            <p><a href="#{{ post.title | handleize }}">{{ post.title }}</a></p>
            {% endfor %}
        </div>
    </div>
</div>
{% include footer.html %}
