<header>
    <div class="row">
        <nav class="site-nav">
            <div class="col-sm-offset-1 col-sm-6 col-md-4">
                <a href="/"><img src="/img/br-logo-small.png" class="logo img-responsive"></a>
            </div>
            <div class="col-sm-5 col-md-7">
                <div class="right">
                    <a href="/about/" class="btn{% if page.url == "/about/" %} active{% endif %}">About</a>
                    <a href="/news/" class="btn{% if page.url == "/news/" %} active{% endif %}">News</a>
                    {% include signup_form.html %}
                </div>
            </div>
        </nav>
    </div>
</header>
