<div class="hide" id="menu-overlay">
    <div id="menu-close" class="col-xs-offset-10 col-xs-2">
        <a href="#"><img src="/img/menu-close.png" class="img-responsive pull-right"></a>
    </div>
    <div id="menu-content" class="col-xs-offset-1 col-xs-10">
        <div>
            <a href="/about/" class="btn">About</a>
            <a href="/news/" class="btn">News</a>
        </div>
        <div id="menu-update" class="btn receive-updates">Receive Updates</div>
        <div id="menu-update-content" class="hide">
            <div class="triangle"></div>
            <p>Enter your email to receive project news &amp; updates</p>
            {% include signup_form.html %}
        </div>
    </div>
</div>
