    <form action="//beautifulrising.us8.list-manage.com/subscribe/post?u=17cdfdd393d63b7891e9b3ef4&amp;id=29b9c2184c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div style="position:fixed;bottom:0;right:0;display:none;"><input type="text" name="b_17cdfdd393d63b7891e9b3ef4_29b9c2184c" tabindex="-1" value=""></div>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter email to receive project news &amp; updates" title="Enter email to receieve project news &amp; updates" required><input type="submit" value=" " name="subscribe" id="mc-embedded-subscribe" class="button">
    </form>
