---
layout: base
---
<div class="masthead text-center">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6">
            <a href="/about/"><img src="/img/br-logo-large.png" class="logo img-responsive" alt="Beautiful Rising" title="Beautiful Rising"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8">
            {{ content }}
        </div>
    </div>
    <div class="row">
        <nav class="site-nav masthead-form">
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8">
                <a href="/about/" class="btn">About</a>
                <a href="/news/" class="btn">News</a>
                <a href="/call-for-submissions/" class="btn">Contribute ideas</a>
                <div class="visible-xs">
                    <a href="#" class="btn receive-updates" id="menu-button">Receive Updates</a>
                    {% include menu_overlay.html %}
                </div>
                <span class="hidden-xs">
                    {% include signup_form.html %}
                </span>
            </div>
        </nav>
    </div>
    <p id="photo-credit" class="semi-trans"></p>
</div>

{% if page.backgrounds %}
<script>
    var backgrounds = [{% for bg in page.backgrounds %}
            {"image": "{{ bg.image }}", "description": "{{ bg.description }}", "credit": "{{ bg.credit }}"}{% unless forloop.last %},{% endunless %}
    {% endfor %}];
    var choice = backgrounds[Date.now() % backgrounds.length];
    document.body.style.backgroundImage = "url('" + choice['image'] + "')";
    document.getElementById("photo-credit").innerHTML = "Photograph by " + choice['credit'] + "; &copy;ActionAid.<br> " + choice['description'];
</script>
{% endif %}
